body {
    color: var(--font-normal);
    background-color: var(--bgc-normal);
}
header {
    background-color: var(--header-normal);
    color: var(--font-light);
}
a {
    color: var(--link-active);
}