<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/icon/iconfont.css"/>
    <link rel="stylesheet" href="../css/reset.css">


    <link rel="stylesheet" href="../color.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/skin/default.css" id="skin">
</head>
<body>
<header>
    <div class="fl logo" style="vertical-align: middle;"><img class="logo" src="../images/hachi_logo.png" alt="logo">
    </div>
    <nav class="fl hidden-mobile">
        <ul class="clear" id="menu-controller">
            <li class="header_list fl" data-index="0">菜单1</li>
            <li class="header_list fl" data-index="1">菜单2</li>
            <li class="header_list fl" data-index="2">菜单3</li>
            <li class="header_list fl" data-index="3">菜单4</li>
        </ul>
    </nav>
    <nav class="fr hidden-mobile">
        <ul class="clear">
            <li class="header_list fl dropmenu">
                <div>用户信息</div>
                <ul class="dropdown">
                    <li>切换用户</li>
                    <li>退出</li>
                </ul>
            </li>
            <li class="header_list fl dropmenu">
                <div>换色  </div>
                <ul class="dropdown" id="change-skin">
                    <li data-val="default" title="黑色">黑色</li>
                    <li data-val="blue" title="蓝色">蓝色</li>
                </ul>
            </li>
        </ul>
    </nav>
    <nav class="fr visible-mobile">
        <a aria-hidden="false" id="nav-toggle" class="Hui-iconfont" href="javascript:;"></a>
    </nav>
</header>
111111111111
</body>
</html>