/*功能型*/
/*比如浮动*/
header {
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear::after {
    content: '';
    clear: both;
    display: block;
    zoom: 1;
}
.cursor_pointer {
    cursor: pointer;
}


/*一些需要剥离的样式*/
.Hui-header{position:absolute;top:0; right:0; left:0;height:44px;z-index:999; padding:0 15px}
.Hui-aside{position: absolute;top:44px;bottom:0;left:0;width:199px;z-index:99;overflow:auto; background-color:rgba(238,238,238,0.98);_background-color:rgb(238,238,238);border-right: 1px solid #e5e5e5}
.Hui-article-box{position: absolute;top:44px;right:0;bottom: 0;left:199px; overflow:hidden; z-index:1; background-color:#fff}
.Hui-article{position: absolute;top:34px;bottom:0;left:0; right:0;overflow:auto;z-index:1}
.Hui-container{ padding:45px 0 0}
.Hui-aside,.Hui-article-box,.dislpayArrow{-moz-transition: all 0.2s ease 0s;-webkit-transition: all 0.2s ease 0s;-ms-transition: all 0.2s ease 0s;-o-transition: all 0.2s ease 0s;transition: all 0.2s ease 0s}
.big-page .Hui-article-box,.big-page .dislpayArrow,.big-page .breadcrumb{left:0px}
.big-page .Hui-aside{ left:-200px}
.page-container{ padding:20px}


#Hui-msg .badge{ position:absolute; left:19px; top:4px; font-size:12px; font-weight:normal; padding:1px 5px}
/*左侧菜单*/
.Hui-aside .menu_dropdown dl{ margin-bottom:0}
.Hui-aside .menu_dropdown dt{display:block;line-height:35px;padding-left:15px;cursor:pointer;position:relative;border-bottom: 1px solid #e5e5e5;font-weight:normal}
.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ position:absolute;overflow: hidden; top:0; right:15px;transition-duration:0.3s ;transition-property:all}
.Hui-aside .menu_dropdown dd{ display:none}
.Hui-aside .menu_dropdown dt.selected .menu_dropdown-arrow{transform: rotate(180deg)}
.Hui-aside .menu_dropdown dd.selected{display:block; margin-left:0px}
.Hui-aside .menu_dropdown ul{padding:0px}
.Hui-aside .menu_dropdown li{line-height:35px;overflow:hidden;zoom:1}
.Hui-aside .menu_dropdown li a{padding-left:15px; display:block;font-weight: bold; margin:0}
.Hui-aside .menu_dropdown li a i{ font-weight: normal}
.Hui-aside .menu_dropdown dd ul{padding:3px 8px}
.Hui-aside .menu_dropdown dd li{line-height:32px}
.Hui-aside .menu_dropdown dd li a{line-height:32px;padding-left:26px; border-bottom:none; font-weight:normal}
.Hui-aside .menu_dropdown li a:hover{text-decoration:none}
.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{background-color:rgba(255,255,255,0.2)}
/*菜单收缩切换*/
.dislpayArrow{position: absolute;top: 0;bottom: 0;left:200px;width:0px; height:100%;z-index:10}
.dislpayArrow a{ position:absolute; display:block; width:17px; height:61px;top:50%; margin-top:-30px;outline:none}
.dislpayArrow a.open{ background-position:0 -61px}
.dislpayArrow a:hover{ text-decoration:none; background-position:right 0}
.dislpayArrow a.open:hover{background-position:right -61px}

/*选项卡导航*/
.Hui-tabNav-wp{position:relative; height:35px;overflow:hidden}
.Hui-tabNav,
.Hui-tabNav .acrossTab li
,.Hui-tabNav .acrossTab li em{background-image:url(../../images/acrossTab/acrossTab-2.png)}
.Hui-tabNav{height:35px; padding-right:75px;overflow:hidden; position:relative;background-color:#efeef0; background-repeat: repeat-x; background-position: 0 -175px;}
.Hui-tabNav .acrossTab{ position:absolute; height:26px; line-height:26px; background:none; top:8px; left:0;padding-top:0}
.Hui-tabNav .acrossTab li{height:26px;line-height:26px;}
.Hui-tabNav .acrossTab li em{ right:-16px; height: 26px; width: 16px}
.loading {background:url(../../images/loading.gif) no-repeat center; height:100px}
.show_iframe{ position:absolute; top:0; right:0; left:0; bottom:0;}
.show_iframe iframe {position: absolute;bottom: 0;height: 100%;width: 100%}
.Hui-tabNav-more {position: absolute;right:0px;width:70px;top:4px;display: none}





/*写在皮肤里*/

.Hui-aside{}/*侧边栏*/
.Hui-aside .menu_dropdown dt{color:#333}/*左侧二级导航菜单*/
/*.Hui-aside .menu_dropdown dt:hover{color:#148cf1}*/
.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
.Hui-aside .menu_dropdown li a{color:#666;border-bottom: 1px solid #e5e5e5}
.Hui-aside .menu_dropdown li a:hover{color:#148cf1;background-color:#fafafa}
.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#a0a7b1}
.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}
.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}