/*全局默认链接颜色*/
:root {
    --black: #000000;
    --red: #ff0000;
    --white: #ffffff;

    /*信息类*/
    --error: #cc0000;
    --error-border: #cc0000;

    --danger: #d9534f;
    --danger-border: #d43f3a;

    --warring: #f0ad4e;
    --warring-border: #eea236;

    --success: #5cb85c;
    --success-boder: #4cae4c;

    --info: #5bc0de;
    --info-border: #46b8da;

    /*文字类*/
    --font-normal: #000000;
    --font-dash: #555555;
    --font-light: #cccccc;
    --font-whitesmoke: whitesmoke;

    /*特殊类*/
    --link-active: #000000;

    /*背景色类 分区域 换色*/
    /*header*/
    --header-default: #111111;
    --header-black: #000000;
    --header-blue: #6053ff;
    /*menu*/
    --menu_dropdown-dt-default: #333333;
    --menu_dropdown-dd-default: #525252;
    --menu_dropdown-a-default: #eeeeee;

    --menu_dropdown-dt-blue: #3a5edd;
    /*--menu_dropdown-dt-blue: #2D6DCC;*/
    --menu_dropdown-dd-blue: #6583ff;
    --menu_dropdown-a-blue: #eeeeee;

    /*body*/
    --bgc-default: #ffffff;
    --bgc-blue: #ffffff;

    /*!*border类*!*/
    /*--border-default:#000000;*/
    /*--border-blue: #0000ff;*/

}

